[submodule "setupr-rpi"]
	path = roles/setup-rpi
	url = https://github.com/provisioning-tools/setup-rpi.git
[submodule "bluetooth"]
	path = roles/bluetooth
  url = https://github.com/provisioning-tools/bluetooth.git 

